body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
}

header {
    text-align: center;
    padding: 10px;
    background-color: #ffffff;
}

h6 {
    font-weight: bold;
}

header img {
    max-width: 150px;
    width: 100%;
  }

 
nav {
    margin: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
    
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    padding: 10px;
}


.nav-link {
    color:white;
    font-size: large;
    margin: 0 55px 0 55px;
}


section {
    margin: 20px 0;
}


.nahtavyydet {
    background-color: #FF9999;
}

.ravintolat {
    background-color: #DFD9D7;
}

.aktiviteetit {
    background-color: #66CCFF;
}

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #000000;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

 #scrollToTopBtn:hover {
    background-color: #2b2b2b;
}

footer {
    text-align: center!important;
    font-size: large!important;
    display: flex; 
    align-items: center!important; 
    justify-content: center!important;
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
}
