body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
}

header {
    text-align: center;
    padding: 10px;
    background-color: #ffffff; /* Suunnitelman mukainen */
}

/* logon koon säätäminen kohdilleen tästä */
header img {
    max-width: 150px;
    width: 100%;
  }

nav {
    margin: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #343a40; /* Bootstrap tumma tausta */
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #495057; /* Bootstrap navbar hover-väri */
    color: white;
}

section {
    margin: 20px 0;
}

/* tässä on ID */
#ulkomaat img {
    max-width: 250px;
    height: auto;
}

.nahtavyydet {
    background-color: #FF9999;
}

.ravintolat {
    background-color: #DFD9D7;
}

.aktiviteetit {
    background-color: #66CCFF;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #000000; /* Suunnitelman mukainen */
    color: #ffffff; /* Suunnitelman mukainen */
}
